
{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
    
    <!-- =======================
Main hero START -->
<section class="pt-4 pb-0 card-grid">
	<div class="container">
		<div class="row g-4">
            {% comment %} <div class="col-5">
                <div class="card card-overlay-bottom card-fold h-400 h-lg-540" style="background-image:url({{ video.image.url }}); background-position: center left; background-size: cover;">
                    <!-- Card Image overlay -->
                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-5">
                        <!-- Card play button -->
                        <div class="position-absolute top-50 start-50 translate-middle pb-5">
                            <!-- Popup video -->
                            <a href="https://youtu.be/n_Cn8eFo7u8" class="icon-lg bg-primary d-block text-white rounded-circle" data-glightbox data-gallery="y-video">
                                <i class="bi bi-play-btn"></i>
                            </a>
                        </div>
                        <!-- Card overlay Bottom  -->
                        <div class="w-100 mt-auto">
                            <div class="col text-center">
                                <!-- Card title -->
                                <h2 class="text-white"><a href="{{ video.get_absolute_url }}" class="btn-link text-reset fw-normal">{{ video.title }}</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-md-5">
                {% comment %} <img class="rounded-3" src="assets/images/blog/4by3/06.jpg" alt=""> {% endcomment %}
                <div class="card">

                <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" width="100%" height="100%" class="rounded-3" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
			<div class="col-lg-7">
				<div class="card bg-transparent mb-4">
                    <div class="row">
                        <div class="col-md-7 mt-3 mt-md-0">
                            <h1 class='h5'>{{ video.title }}</h1>
                            <p>{{ video.description }}</p>

                            <!-- Card info -->
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="far fa-eye me-1"></i>{{ video.get_view_count }}</li>
                                <li class="list-inline-item"><a href="{{ video.get_like_url }}" class="text-body"><i class="far fa-heart me-1"></i></a>  {{ video.get_like_count }}</li>
                                <li class="list-inline-item"><i class="far fa-comment me-1"></i>{{ video.comment_count }}</li>
                                <li class="list-inline-item"><i class="fas fa-share"></i></li>
                            </ul>
                            <!-- End Card info --> 
                        </div>
                        <div class="col-md-5">
                            <!-- Comments START -->
                            <div>
                                <h5>{{ video.comment_count}} comments</h5>
                                <!-- Comment level 1-->
                                {% for comment in video.comment_set.all %}
                                {% if comment.approved %}
                                <div class="my-4 d-flex">
                                     {% if comment.user.author %}
                                    <img class="avatar avatar-xs rounded-circle float-start me-3" src="{{ comment.user.author.profile_picture.url }}" alt="avatar">
                                    {% else %}
                                    <img class="avatar avatar-xs rounded-circle float-start me-3" src="{% static 'images/avatar/01.jpg' %}"
                                    {% endif %}
                                    <div> 
                                        <div class="mb-2">
                                            <h5 class="m-0">{{ comment.user.username }}</h5>
                                            <span class="me-3 small">{{ comment.timestamp|timesince }} ago</span>
                                        </div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div> 
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Comments END -->
                            <!-- Reply START -->
                            {% if request.user.is_authenticated %}
                            <div>
                                <form class="review-form" 
                                    action="/content/addcomment/{{ video.id }}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Leave a reply</label>
                                        <textarea class="form-control" name='content' id="exampleFormControlTextarea1" rows="3" placeholder="Your comment"></textarea>
                                      </div>
                                      {% if user.id is not None %}
                                      <div class="d-grid gap-2">
                                        <button class="btn btn-primary btn-sm" type="submit">Post comment</button>
                                      </div> 
                                      {% else %}
                                      You must be logged in to post a review
                                    {% endif %}
                                </form>
                            </div>
                              
                            {% endif %}
                            <!-- Reply END -->
                        </div>
                    </div>
                </div>
			</div> 
            
		</div>
	</div>
    
</section>
<!-- =======================
Main hero END -->



<!-- Divider -->
<div class="container"><div class="border-bottom border-primary border-2 opacity-1"></div></div>

<!-- =======================
Section START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Title -->
				<div class="mb-4 d-md-flex justify-content-between align-items-center">
					<h4 class="m-0">Et plus encore</h5>
				</div>
				<div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
					<div class="tiny-slider-inner"
						data-autoplay="true"
						data-hoverpause="true"
						data-gutter="24"
						data-arrow="true"
						data-dots="false"
						data-items-xl="4" 
						data-items-md="3" 
						data-items-sm="2" 
						data-items-xs="1">

						<!-- Card item START -->
                        {% for video in related_video %}
                            <div class="card">
                                <div class="card card-overlay-bottom card-grid-sm card-bg-scale" style="background-image:url({{ video.related_video.image.url }}); background-position: center left; background-size: cover;">
                                    <!-- Card Image overlay -->
                                    <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
                                        <div class="w-100 mt-auto">
                                            <!-- Card title -->
                                        <h4 class="text-white"><a href="{{ video.related_video.get_absolute_url }}" class="btn-link stretched-link text-reset">{{ video.related_video.title }}</a></h4>
                                        <!-- Card info -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if video.related_video %}
                                

                                <div class="card card-img-scale">
                                    <!-- Card Image -->
                                    <img class="card-img h-200" src="{{ video.related_video.image.url }}" alt="">
                                    <!-- Card Image overlay -->
                                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
                                        <div class="w-100 mt-auto">
                                            <!-- Card title -->
                                            <h6 class="text-white"><a href="{{ video.related_video.get_absolute_url }}" class="btn-link text-reset stretched-link">{{ video.related_video.title }}</a></h6>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
						<!-- Card item END -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Section END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}