
{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
    <!-- =======================
    Section START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Title -->
                    <div class="mb-4 d-md-flex justify-content-between align-items-center">
                        <h2 class="m-0">All videos</h2>
                    </div>
                    <div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
                        <div class="tiny-slider-inner"
                            data-autoplay="true"
                            data-hoverpause="true"
                            data-gutter="24"
                            data-arrow="true"
                            data-dots="false"
                            data-items-xl="4" 
                            data-items-md="3" 
                            data-items-sm="2" 
                            data-items-xs="1">
    
                            <!-- Card item START -->
                            {% for video in all_videos %}
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="{{ video.image.url }}" alt="Card image">
                                     <!-- Card Image overlay -->
                                <div class="card-img-overlay d-flex flex-column p-3 p-sm-5">
                                    <!-- Card play button -->
                                    <div class="position-absolute top-50 start-50 mt-5 translate-middle pb-5">
                                        <!-- Popup video -->
                                        <a href="https://youtu.be/n_Cn8eFo7u8" class="icon-lg bg-primary d-block text-white rounded-circle" data-glightbox data-gallery="y-video">
                                            <i class="bi bi-play-btn"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h5 class="card-title"><a href="{{ video.get_absolute_url }}" class="btn-link text-reset fw-bold">{{ video.title }}</a></h5>
                                </div>
                            </div>
                            
                            {% endfor %}

                            
                            <!-- Card item END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Section END -->
{% endblock %}