
{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
    <!-- =======================
    Section START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Title -->
                    <div class="mb-4 d-md-flex justify-content-between align-items-center">
                        <h2 class="m-0">All videos</h2>
                    </div>
                    <div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
                        <div class="tiny-slider-inner"
                            data-autoplay="true"
                            data-hoverpause="true"
                            data-gutter="24"
                            data-arrow="true"
                            data-dots="false"
                            data-items-xl="4" 
                            data-items-md="3" 
                            data-items-sm="2" 
                            data-items-xs="1">
    
                            <!-- Card item START -->
                            {% for video in all_videos %}
                            <div class="card card-overlay-bottom card-img-scale">
                                <!-- Card Image -->
                                <img class="card-img h-200" src="{{ video.image.url }}" alt="">
                                <!-- Card Image overlay -->
                                <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
                                    <div class="w-100 mt-auto">
                                        <!-- Card title -->
                                        <h6 class="text-white"><a href="{{ video.get_absolute_url }}" class="btn-link text-reset stretched-link">{{ video.title }}</a></h6>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}

                            
                            <!-- Card item END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Section END -->
{% endblock %}