    {% for post in recent_posts %}
    <div class="card mb-3">
        <div class="row g-3">
            <div class="col-4">
                <img class="rounded" src="{{ post.thumbnail.url }}" alt="">
            </div>
            <div class="col-8">
                <h6><a href="{{ post.get_absolute_url }}" class="btn-link stretched-link text-reset fw-normal h6">{{ post.title }}</a></h6>
                <div class="small mt-1">{{ post.created|timesince }} ago</div>
            </div>
        </div>
    </div>
    {% endfor %}